
/* whole page style */

* {
  box-sizing: border-box;
}
:root {
 background-color: rgb(38, 38, 38);
 background: linear-gradient(0.25turn, #eceded, #cdcbd0, #d8cbea);
 --border: 3px solid black; 
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}

/* generic seperate section styles */
.theme {
  background-image:url(/Users/lolakasimova/bootcamp/personal_portfolio/starter/images/hand-painted-watercolor-pastel-sky-background_23-2148902772.webp);
  border: black solid;
  border-radius: 15px 15px 15px 15px;
  margin: 10px;;

}

/* nav bar and header */

#header {
  margin: 5px;
  padding-bottom: 5px;
  
}
#name {
  
  text-align: center;
  padding: 5px;


}
/* Profile picture */
img {
  border: 2px solid black;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 0%;
  right: 0%;
  
}

.head-nav {

  display: flex;
  margin: 0px 5%;
  transition: margin-right 2s;
}
.nav {

  display: flex;
  width: 50%;
  justify-content: space-evenly;
  color: black;
  border-radius: 10px;
  
}
.nav:hover {
  background-color: rgb(222, 214, 220);
}

/*project grid container properties */

.grid-container {

  display: grid;
  justify-content:space-evenly;
  grid-template-columns:repeat(3, 1fr); 
  grid-template-rows:repeat(2, 300px);
  grid-gap: 10px;
  border-radius: 20px; 
  overflow: hidden;

}


.project4 {
  grid-column: 1 / -1; 
  grid-row: 2 / 3; 
  
  }

 .card {
    background-color: #2c0f54;
    transition: background-color 0.2s;
    transition: transform 0.2s;
  }
 
  .card:hover {
    background-color: #20613e;
    transform:scale(1.2);

  }
 .project1 {
  justify-content:space-between;
  align-content: center;
  background-image:url(/Users/lolakasimova/bootcamp/personal_portfolio/starter/images/02-portfolio-2.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  border: var(--border);
  border-radius: 200px;
  box-shadow: 0 0 10px 5px rgba(135, 206, 235, 0.5);

}


.project2 {
  justify-content:space-between;
  align-content: center;
  background-image:url(/Users/lolakasimova/bootcamp/personal_portfolio/starter/images/02-portfolio-3.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  border:var(--border);
  border-radius: 200px;
  box-shadow: 0 0 10px 5px rgba(135, 206, 235, 0.5);

}
.project3 {
  justify-content:space-between;
  align-content: center;
  background-image:url(/Users/lolakasimova/bootcamp/personal_portfolio/starter/images/unknown-things.jpeg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  border:var(--border);
  border-radius: 200px;
  box-shadow: 0 0 10px 5px rgba(135, 206, 235, 0.5);


}
.project4 {
  justify-content:space-between;
  align-content: center;
  background-image:url(/Users/lolakasimova/bootcamp/personal_portfolio/starter/images/02-portfolio-4.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  border:var(--border);
  border-radius: 200px;
  box-shadow: 0 0 10px 5px rgba(135, 206, 235, 0.5);
}

/* inner card content style */

.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  color: black;
  padding: 40px;
  
}

/* footer and contact details section style */

.container {
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 10px;

}

.details:hover {
  background-color: rgb(222, 214, 220);
}

@media screen and (max-width:600px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
img {
  width: 70px;
  border-radius: 70%;
}
}
   
@media (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(2, 200px);
  }
}


